{% extends "basic_webshop/base.html" %}

{% load currency_tags %}

{% block content %}
    {% if category %}<h2>Category: <a href="{{ category.get_absolute_url }}">{{ category }}</a></h2>{% endif %}
    <h1>Product: {{ product }}</h1>
    
    <p>{{ product.description }}</p>
    
    <p>Price: {{ product.get_price|format_price }}</p>
    
    <p>Add to cart: 
        <form action="{% url cart_add %}" method="post">
            {% csrf_token %}
            
            {{ cartaddform.non_field_errors }}

            {{ cartaddform }}
            
            <input type="submit" value="Add to cart">
        </form>
    </p>
    
{% endblock content %}